body {
  font-family: "Open Sans",
  sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.bio-container {
  background: gray;
  margin-top: -22px;
  overflow: auto;
}

.nav-links {
  border: solid 1px black;
  height: 165px;
  width: 75px;
  line-height: 130px;
  display: inline-block;
}

.phone-img {
  border: solid 1px black;
  height: 210px;
  width: 130px;
  line-height: 175px;
  display: inline-block;
  margin: 0 0 15px 15px;
}

.image {
  border: solid 1px black;
  max-width: 300px;
  height: 125px;
  line-height: 120px;
  margin-left: auto;
  margin-right: auto;
}

.about-me {
  background-color: gray;
  height: 225px;
  line-height: 210px;
}

.contact {
  height: 100px;
  line-height: 90px;
}

.project-description {
  display: none;
}

@media only screen and (min-width : 1000px) {
  .heading {
    position: relative;
    top: 125px;
    right: 150px;
  }

  .phone-img {
    position: relative;
    left: 100px;
    bottom: 25px;
  }

  .nav-links {
    position: relative;
    left: 100px;
    bottom: 25px;
  }

  .projects {
    height: 200px;
  }

  .projects h2 {
    position: relative;
    right: 300px;
  }

  .image {
    position: relative;
    top: 8px;
    right: 160px;
  }

  .project-description {
    border: solid 1px black;
    max-width: 300px;
    height: 125px;
    line-height: 120px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 120px;
    left: 180px;
    display: block;
  }

  .contact {
    height: 100px;
  }
}
